NET "clk" LOC = AF12;

NET "cpld_en(0)" LOC = AF19;
NET "cpld_en(1)" LOC = AF23;

NET "led_en(7)" LOC=AE23;  //1
NET "led_en(6)" LOC=AF24;  //2
NET "led_en(5)" LOC=AE24;
NET "led_en(4)" LOC=AD25;
NET "led_en(3)" LOC=AD26;
NET "led_en(2)" LOC=AC25;
NET "led_en(1)" LOC=AC26;
NET "led_en(0)" LOC=AB25;

NET "led(6)" LOC=AC23;
NET "led(5)" LOC=AC22;
NET "led(4)" LOC=AC21;
NET "led(3)" LOC=AD23;
NET "led(2)" LOC=AD22;
NET "led(1)" LOC=AD21;
NET "led(0)" LOC=AD20;